.hotel-view {

    .gallery {
        display: flex;
        
        &__photo {
            width: 100%;
            display: block;
        }
    }


    .overview {
        display: flex;
        align-items: center;
        border-bottom: var(--line);
        
        
        &__heading {
            font-size: 2.25rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 1.5rem 3rem;
        }

        &__stars {
            margin-right: auto;
            display: flex;
        }

        &__icon-star,
        &__icon-location {
            width: 1.75rem;
            height: 1.75rem;
            fill: var(--color-primary)
        }

        &__location {
            font-size: 1.2rem;
            display: flex;
            vertical-align: center;
        }

        &__icon-location {
            margin-right: .5rem;
        }

        &__rating {
            background-color: var(--color-primary);
            color: #FFF;
            margin-left: 3rem;
            padding: 0rem 2.25rem;
            align-self: stretch;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__rating-average {
            font-size: 2.25rem;
            font-weight: 300;
            margin-bottom: -3px;
        }

        &__rating-count {
            font-size: .8rem;
            text-transform: uppercase;
        }
    }

    .recommend {
        font-size: 1.3rem;
        color: var(--color-grey-dark-3);

        display: flex;
        align-items: center;

        &__count {

        }

        &__friends {
            margin-left: auto;
        }
        
        &__photo {
            box-sizing: content-box;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            border: 3px solid #FFF;

            &:not(:last-child) {
                margin-right: -1.5rem;
            }
        }

    }
}