.hotel-view {

    .gallery {
        display: flex;
        
        &__photo {
            width: 100%;
            display: block;
        }
    }


    .overview {
        display: flex;
        align-items: center;
        border-bottom: var(--line);
        
        
        &__heading {
            font-size: 2.25rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 1.5rem 3rem;

            @media only screen and (max-width: $bp-small) {
                font-size: 1.8rem;
                padding: 1.25rem 2rem;
            }
        }

        &__stars {
            margin-right: auto;
            display: flex;
        }

        &__icon-star,
        &__icon-location {
            width: 1.75rem;
            height: 1.75rem;
            fill: var(--color-primary)
        }

        &__location {
            font-size: 1.2rem;
            display: flex;
            vertical-align: center;
        }

        &__icon-location {
            margin-right: .5rem;
        }

        &__rating {
            background-color: var(--color-primary);
            color: #FFF;
            margin-left: 3rem;
            padding: 0rem 2.25rem;
            align-self: stretch;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: $bp-small) {
                padding: 0 1.5rem;
            }
        }

        &__rating-average {
            font-size: 2.25rem;
            font-weight: 300;
            margin-bottom: -3px;

            @media only screen and (max-width: $bp-small) {
                font-size: 1.8rem;
            }
        }

        &__rating-count {
            font-size: .8rem;
            text-transform: uppercase;
            
            @media only screen and (max-width: $bp-small) {
                font-size: .5rem;
            }
        }
    }

    .recommend {
        font-size: 1.3rem;
        color: var(--color-grey-dark-3);

        display: flex;
        align-items: center;

        &__count {

        }

        &__friends {
            margin-left: auto;
            display: flex;
        }
        
        &__photo {
            box-sizing: content-box;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            border: 3px solid #FFF;

            &:not(:last-child) {
                margin-right: -2rem;
            }
        }

    }

    .review {
        background-color: #FFF;
        box-shadow: var(--shadow-light);
        padding: 3rem;
        margin-bottom: 3.5rem;
        position: relative;
        overflow: hidden;
        z-index: 1;

        @media only screen and (max-width: $bp-medium) {
            padding: 2rem;
            margin-bottom: 3rem;
        }

        &__text {
            display: inline-block;
            margin-bottom: 2rem;
            z-index: 10;
            position: relative;
        }

        &__user {
            display: flex;
            align-items: center;
        }

        &__photo {
            height: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
        }

        &__user-box {
            margin-left: 1.5rem;
        }

        &__user-name {
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: .4rem;
        }

        &__user-date {
            font-size: 1rem;
            color: var(--color-grey-dark-3);
        }

        &__rating {
            font-size: 2.3rem;
            color: var(--color-primary);
            margin-left: auto;
        }

        &::before {
            content: "\201C";
            position: absolute;
            top: -2.75rem;
            left: -1rem;
            line-height: 1;
            font-size: 20rem;
            color: var(--color-grey-light-2);
            font-family: sans-serif;
        }
    }

    .cta {
        padding: 3.5rem 0;
        text-align: center;

        @media only screen and (max-width: $bp-medium) {
            padding: 2.5rem 0;
        }

        &__book-now {
            font-size: 2rem;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 2.5rem;
        }
    }
}