.paragraph:not(:last-child) {
    margin-bottom: 2rem;
}

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }

    &__item::before {
        content: '';
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;

        //Older browsers
        background-image: url(../assets/chevron-thin-right.svg);
        background-size: cover;

        //Newer browsers - masks
        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            background-color: var(--color-primary);
            -webkit-mask-image: url(../assets/chevron-thin-right.svg);
            -webkit-mask-size: cover;
            mask-image: url(../assets/chevron-thin-right.svg);
            mask-size: cover;
            background-image: none;
        }
    }
}