.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.content {
    display: flex;
}

.hotel-view {
    background-color: #FFF;
    flex: 1;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {
    font-size: 1.4rem;
    background-color: #FFF;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
}

.user-reviews {
    background-color: yellowgreen;
    flex: 1;
}