/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.content {
  display: flex; }

.hotel-view {
  background-color: #FFF;
  height: 80rem;
  flex: 1; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #FFF;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .logo {
    height: 3.25rem;
    margin-left: 2rem; }
  .header .search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .search__input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background-color: var(--color-grey-light-2);
      border: none;
      padding: .7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all .2s;
      margin-right: -3.25rem; }
      .header .search__input:focus {
        outline: none;
        width: 100%;
        background-color: var(--color-grey-light-3); }
      .header .search__input::-webkit-input-placeholder {
        font-weight: 100;
        color: var(--color-grey-light-4); }
    .header .search__button {
      border: 0;
      background-color: transparent; }
      .header .search__button:focus {
        outline: none; }
      .header .search__button:active {
        transform: translateY(2px); }
    .header .search__icon {
      height: 2rem;
      width: 2rem;
      fill: var(--color-grey-dark-3); }
  .header .user-nav {
    align-self: stretch;
    display: flex;
    align-items: center; }
    .header .user-nav > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center; }
    .header .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
    .header .user-nav__icon-box {
      position: relative; }
    .header .user-nav__icon {
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-grey-dark-2); }
    .header .user-nav__notification {
      font-size: .8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: var(--color-primary);
      color: #FFF;
      position: absolute;
      top: 1.5rem;
      right: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: center; }
    .header .user-nav__user-photo {
      height: 3.75rem;
      border-radius: 50%;
      margin-right: 1rem; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar .side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem; }
    .sidebar .side-nav__item {
      position: relative; }
      .sidebar .side-nav__item:not(:last-child) {
        margin-bottom: .5rem; }
    .sidebar .side-nav__item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.1s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s; }
    .sidebar .side-nav__item:hover::before, .sidebar .side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .sidebar .side-nav__item:active::before {
      background-color: var(--color-primary-light); }
    .sidebar .side-nav__link:link, .sidebar .side-nav__link:visited {
      color: var(--color-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 10; }
    .sidebar .side-nav__icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 2rem;
      fill: currentColor; }
  .sidebar .legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem; }

.hotel-view .gallery {
  display: flex; }
  .hotel-view .gallery__photo {
    width: 100%;
    display: block; }

.hotel-view .overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2); }
  .hotel-view .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .hotel-view .overview__stars {
    margin-right: auto;
    display: flex; }
  .hotel-view .overview__icon-star, .hotel-view .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .hotel-view .overview__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center; }
  .hotel-view .overview__icon-location {
    margin-right: .5rem; }
  .hotel-view .overview__rating {
    background-color: var(--color-primary);
    color: #FFF;
    margin-left: 3rem;
    padding: 0rem 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .hotel-view .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
  .hotel-view .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }
