/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75rem) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75rem) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25rem) {
    .content {
      flex-direction: column; } }

.hotel-view {
  background-color: #FFF;
  flex: 1; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }
  @media only screen and (max-width: 56.25rem) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5rem) {
    .detail {
      flex-direction: column; } }

.description {
  font-size: 1.4rem;
  background-color: #FFF;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem; }
  @media only screen and (max-width: 56.25rem) {
    .description {
      padding: 2rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5rem) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.paragraph:not(:last-child) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../assets/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../assets/chevron-thin-right.svg);
    mask-size: cover; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #FFF;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25rem) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      height: 12rem; } }
  .header .logo {
    height: 3.25rem;
    margin-left: 2rem; }
  .header .search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 31.25rem) {
      .header .search {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2); } }
    .header .search__input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background-color: var(--color-grey-light-2);
      border: none;
      padding: .7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all .2s;
      margin-right: -3.25rem; }
      .header .search__input:focus {
        outline: none;
        width: 100%;
        background-color: var(--color-grey-light-3); }
      .header .search__input::-webkit-input-placeholder {
        font-weight: 100;
        color: var(--color-grey-light-4); }
    .header .search__button {
      border: 0;
      background-color: transparent; }
      .header .search__button:focus {
        outline: none; }
      .header .search__button:active {
        transform: translateY(2px); }
    .header .search__icon {
      height: 2rem;
      width: 2rem;
      fill: var(--color-grey-dark-3); }
  .header .user-nav {
    align-self: stretch;
    display: flex;
    align-items: center; }
    .header .user-nav > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center; }
    .header .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
    .header .user-nav__icon-box {
      position: relative; }
    .header .user-nav__icon {
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-grey-dark-2); }
    .header .user-nav__notification {
      font-size: .8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: var(--color-primary);
      color: #FFF;
      position: absolute;
      top: 1.5rem;
      right: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: center; }
    .header .user-nav__user-photo {
      height: 3.75rem;
      border-radius: 50%;
      margin-right: 1rem; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar .side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem; }
    @media only screen and (max-width: 56.25rem) {
      .sidebar .side-nav {
        display: flex;
        margin: 0; } }
    .sidebar .side-nav__item {
      position: relative; }
      .sidebar .side-nav__item:not(:last-child) {
        margin-bottom: .5rem; }
        @media only screen and (max-width: 56.25rem) {
          .sidebar .side-nav__item:not(:last-child) {
            margin-bottom: 0; } }
      @media only screen and (max-width: 56.25rem) {
        .sidebar .side-nav__item {
          flex: 1; } }
    .sidebar .side-nav__item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.1s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s; }
    .sidebar .side-nav__item:hover::before, .sidebar .side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .sidebar .side-nav__item:active::before {
      background-color: var(--color-primary-light); }
    .sidebar .side-nav__link:link, .sidebar .side-nav__link:visited {
      color: var(--color-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 56.25rem) {
        .sidebar .side-nav__link:link, .sidebar .side-nav__link:visited {
          justify-content: center;
          padding: 2rem; } }
      @media only screen and (max-width: 37.5rem) {
        .sidebar .side-nav__link:link, .sidebar .side-nav__link:visited {
          flex-direction: column;
          padding: 1.5rem; } }
    .sidebar .side-nav__icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 2rem;
      fill: currentColor; }
      @media only screen and (max-width: 37.5rem) {
        .sidebar .side-nav__icon {
          margin-right: 0;
          margin-bottom: .7rem;
          width: 1.5rem;
          height: 1.5rem; } }
  .sidebar .legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem; }
    @media only screen and (max-width: 56.25rem) {
      .sidebar .legal {
        display: none; } }

.hotel-view .gallery {
  display: flex; }
  .hotel-view .gallery__photo {
    width: 100%;
    display: block; }

.hotel-view .overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .hotel-view .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5rem) {
      .hotel-view .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
  .hotel-view .overview__stars {
    margin-right: auto;
    display: flex; }
  .hotel-view .overview__icon-star, .hotel-view .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .hotel-view .overview__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center; }
  .hotel-view .overview__icon-location {
    margin-right: .5rem; }
  .hotel-view .overview__rating {
    background-color: var(--color-primary);
    color: #FFF;
    margin-left: 3rem;
    padding: 0rem 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5rem) {
      .hotel-view .overview__rating {
        padding: 0 1.5rem; } }
  .hotel-view .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
    @media only screen and (max-width: 37.5rem) {
      .hotel-view .overview__rating-average {
        font-size: 1.8rem; } }
  .hotel-view .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5rem) {
      .hotel-view .overview__rating-count {
        font-size: .5rem; } }

.hotel-view .recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center; }
  .hotel-view .recommend__friends {
    margin-left: auto;
    display: flex; }
  .hotel-view .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #FFF; }
    .hotel-view .recommend__photo:not(:last-child) {
      margin-right: -2rem; }

.hotel-view .review {
  background-color: #FFF;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  @media only screen and (max-width: 56.25rem) {
    .hotel-view .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  .hotel-view .review__text {
    display: inline-block;
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .hotel-view .review__user {
    display: flex;
    align-items: center; }
  .hotel-view .review__photo {
    height: 4.5rem;
    height: 4.5rem;
    border-radius: 50%; }
  .hotel-view .review__user-box {
    margin-left: 1.5rem; }
  .hotel-view .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem; }
  .hotel-view .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .hotel-view .review__rating {
    font-size: 2.3rem;
    color: var(--color-primary);
    margin-left: auto; }
  .hotel-view .review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif; }

.hotel-view .cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25rem) {
    .hotel-view .cta {
      padding: 2.5rem 0; } }
  .hotel-view .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
  color: #FFF;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn > * {
    display: inline-block;
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary), var(--color-primary-dark)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }
